doctype html
html
  head
    style.
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      }
  body
    #map
    script(src='/javascripts/http.min.js')
    script.
      var map;
      function initMap() {
        var myLatLng = {lat: 37.7749, lng: -122.4194};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: myLatLng
        });
        
        var image = {
         url: 'http://i.istockimg.com/file_thumbview_approve/57424520/3/stock-illustration-57424520-transportation-bicycle-flat-icon-with-long-shadow-eps10.jpg',
         // This marker is 20 pixels wide by 32 pixels high.
         scaledSize: new google.maps.Size(32, 32),
         // The origin for this image is (0, 0).
         origin: new google.maps.Point(0, 0),
         // The anchor for this image is the base of the flagpole at (0, 32).
         anchor: new google.maps.Point(0, 32)
        }
        
        var markers=[];
        var infowindows = [];
        var windowContents = [];
        var openWindow = 0;
        
        var bikeLocations = http.get({
            url: '/jumpbikes',
            onload: function() { 
              var bikes = JSON.parse(this.responseText)
              for (var i=0; i<bikes.length; i++) {
                var bike = bikes[i]
                var bikePosition = {
                  lat: bike.current_position.coordinates[1],
                  lng: bike.current_position.coordinates[0]
                }
                
                windowContents[i] = '<h3>Bike ID: ' + bike.id + '</h3>'
                  + '<h4>Address: ' + bike.address + '</h4>'
                
                infowindows[i] = new google.maps.InfoWindow({
                  content: windowContents[i]
                });
                
                markers[i] = new google.maps.Marker({
                  position: bikePosition,
                  map: map,
                  icon: image,
                  title: bike.name
                });
                
                markers[i].index = i;
                
                google.maps.event.addListener(markers[i], 'click', function() {
                    infowindows[openWindow].close();
                    console.log(this.index); // this will give correct index
                    openWindow = this.index;
                    infowindows[this.index].open(map,markers[this.index]);
                    map.panTo(markers[this.index].getPosition());
                }); 
              }  
            }
        });

      }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCqfh-3un2PUzg8P0R4Xg-W-yK6JYaGCI8&callback=initMap')
    
    
