extends layout

block content
  h1 Bike Page
  h2 Bike Data (from SoBi):
  - var bikes= returnedBikes
  div
  each bike in bikes
    h3= 'Bike ID: ' + bike.id
    p= 'Battery Level: ' + bike.ebike_battery_level + '%'
    p= 'Distance Left: ' + bike.ebike_battery_distance + ' miles'
    p= 'Current Address: ' + bike.address
    br
